<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="openMenu('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu"
                     md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Welcome</h1>
    </div>
</md-toolbar>

<md-content md-scroll-y class="flex layout-padding">
    <div ng-cloak>
        <div class="row">
            <div class="col-md-4">
                <span class="hipster img-responsive img-rounded"></span>
            </div>
            <div class="col-md-8">
                <h1 translate="main.title">Welcome, Java Hipster!</h1>
                <p class="lead" translate="main.subtitle">This is your homepage</p>

                <div ng-switch="isAuthenticated()">
                    <div class="alert alert-success" ng-switch-when="true" translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                        You are logged in as user "{{account.login}}".
                    </div>

                    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                        If you want to <a class="alert-link" ui-sref="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                    </div>

                    If you want to <a class="alert-link" ui-sref="register">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").


                    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                        You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                    </div>
                </div>

                <p translate="main.question">
                    If you have any question on JHipster:
                </p>

                <ul>
                    <li><a href="http://jhipster.github.io/" target="_blank" translate="main.link.homepage">JHipster homepage</a></li>
                    <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" translate="main.link.stackoverflow">JHipster on Stack Overflow</a></li>
                    <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" translate="main.link.bugtracker">JHipster bug tracker</a></li>
                    <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" translate="main.link.chat">JHipster public chat room</a></li>
                    <li><a href="https://twitter.com/java_hipster" target="_blank"  translate="main.link.contact">contact @java_hipster on Twitter</a></li>
                </ul>

                <p>
                    <span translate="main.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" translate="main.github">Github</a>!
                </p>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-raised">Button</md-button>
                    <md-button class="md-raised md-primary">Primary</md-button>
                    <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
                    <md-button class="md-raised md-warn">Warn</md-button>
                    <div class="label">Raised</div>
                </section>

            </div>
        </div>
    </div>
</md-content>

