<!--<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-1dp" md-component-id="left"-->
            <!--md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1">-->
    <!--<header class="nav-header">-->
        <!--<a ng-href="#/" class="books-logo" href="#/">-->
            <!--<img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" alt="">-->
        <!--</a>-->
    <!--</header>-->
    <!--<md-content class="layout-padding">-->
        <!--<md-list>-->
            <!--<md-list-item md-ink-ripple="#03A9F4">-->
                <!--<p>Test</p>-->
            <!--</md-list-item>-->
        <!--</md-list>-->
    <!--</md-content>-->
<!--</md-sidenav>-->

<md-sidenav class="md-sidenav-left md-whiteframe-2dp" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

    <header class="nav-header">
        <a ng-href="#/" class="books-logo" href="#/">
            <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" alt="">
        </a>
    </header>

    <md-content role="navigation">
        <ul class="side-menu">
            <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                <h2 class="menu-heading" ng-if="section.type === 'heading'"
                    id="heading_{{ section.name | nospace }}">
                    {{section}}
                </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
            </li>
        </ul>
    </md-content>
</md-sidenav>



<div tabindex="-1" ui-view="content" role="main" class="layout-column flex"></div>

