<md-button class="md-button-toggle" ng-class="{'toggled' : isOpen()}" ng-click="toggle()"
           aria-controls="docs-menu-{{section.name | nospace}}" flex layout="row" aria-expanded="{{isOpen()}}">
    {{section.name}}
    <md-icon md-font-icon="fa fa-chevron-down" class="md-toggle-icon" ng-class="{'toggled' : isOpen()}"></md-icon>
</md-button>
<ul ng-show="isOpen()" id="docs-menu-{{section.name | nospace}}" class="menu-toggle-list">
    <li ng-repeat="page in section.pages">
        <menu-link section="page"></menu-link>
    </li>
</ul>
