<md-button ng-class="{\'{{section.icon}}\' : true}" ui-sref-active="active" ui-sref="{{section.state}}"
           ng-click="focusSection()"> {{section | humanizeDoc}} <span class="md-visually-hidden " ng-if="isSelected()">current page</span>
</md-button>
